* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

nav {
    background: rgb(0, 3, 40);
    background: linear-gradient(90deg, rgba(0, 3, 40, 1) 0%, rgba(171, 43, 43, 1) 100%);
    height: 60px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 60px;
    margin-right: 20px;
    padding: 0 50px;
}

nav ul {
    float: right;
    margin-right: 15px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.login{
    background-color: rgba(0, 3, 40, 1);
}

a.active,
a:hover {
    background: black;
    transition: .5s;
}

nav a img {
    height: 90%;
}

.content {
    background-color: #d9dfe4;
    width: 80%;
    margin: 40px auto auto;
    border-radius: 5px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.item {
    background-color: white;
    width: 270px;
    height: 320px;
    border-radius: 10px;
    margin: 10px;
}

.specific-item {
    background-color: rgba(171, 43, 43, 1);
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item img {
    width: auto;
    height: 60%;
    margin: 5px;
    border: 1px rgba(171, 43, 43, 1);
}

.item p {
    text-align: center;
    color: rgba(0, 3, 40, 1);
}

.item button {
    margin: 15px auto auto;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: rgba(171, 43, 43, 1);
    padding: 10px 30px;
    border: 2px solid rgba(171, 43, 43, 1);
    box-shadow: rgb(0, 0, 0);
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.item button:hover {

    transition: 500ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: rgba(0, 3, 40, 1);
    border: solid 2px rgba(0, 3, 40, 1);
}

body .sorting-buttons button {
    font-size: 14px;
    color: #fff;
    background-color: rgba(171, 43, 43, 1);
    padding: 10px 30px;
    border: 2px solid rgba(171, 43, 43, 1);
    box-shadow: rgb(0, 0, 0);
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    display:inline-block;
    margin-left: auto;

}

body .sorting-buttons button:hover {

    transition: 500ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: rgba(0, 3, 40, 1);
    border: solid 2px rgba(0, 3, 40, 1);
    display:inline-block;
    margin-left: auto;
}

body .sorting-buttons {
    margin-left: 10%;
    margin-top: 2%;
}

.hello {
    font-size: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    text-align: center;
}

.hello input {
    padding: 5px;
    font-size: 23px;
    border-radius: 50px;
    border: 2px solid rgba(171, 43, 43, 1);
}