<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Orion Store - kosmiczny sklep internetowy</title>
    <link rel="stylesheet" type="text/css" href="/css/adminstyle.css">
</head>

<body>
<nav>
    <a th:href="@{/}"><img src="/css/logo.png" class="logo" alt="OrionStore"></a>
    <ul>
        <li><a th:href="@{/}">OrionStore</a></li>
        <li><a href="">Ustawienia</a></li>
    </ul>
</nav>

<h1>Witaj ADMIN, wybierz odpowiednie opcje w prawym górnym rogu.</h1>
<a th:href="@{/admin/additem}">
    <button>Dodaj/usun/modyfikuj produkty</button>
</a>
<a th:href="@{/admin/addcategories}">
<button>Dodaj/usun/modyfikuj kategorie</button>
</a>
<button>Nieaktywny</button>

</body>

</html>