<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orion Store - kosmiczny sklep internetowy</title>
    <link rel="stylesheet" type="text/css" href="/css/categories.css">
</head>

<body>
<nav>
    <a th:href="@{/}"><img src="/css/logo.png" class="logo" alt="OrionStore"></a>
    <ul>
        <li id="admin" sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin}">ADMIN PANEL</a>
        </li>
        <li><a th:href="@{/myorders}">Moje zamówienia</a></li>
        <li><a href="">Regulamin</a></li>
        <li><a href="">Promocje</a></li>
        <li><a th:href="@{/categories}">Kategorie</a></li>
        <li><a th:href="@{/shoppingcart}" th:text="|Koszyk:(| + ${count} + |) | + ${priceofallitems} + zł"></a></li>
        <li>
            <div th:if="${email} eq 'anonymousUser'" class="login"><a th:href="@{/login}">Logowanie</a></div>
            <div th:if="${email} ne 'anonymousUser'" class="login"><a th:href="@{/logout}">Wyloguj</a></div>
        </li>
    </ul>
</nav>
<div class="hello">
    <p th:text="${username}"></p>
</div>

<div th:each="category : ${categories}">
    <a th:href="@{/category/{id} (id=${category.getCategoryId()})}">
        <button th:text="${category.getCategoryName()}"></button>
    </a>
</div>
</body>

</html>