<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Orion Store - kosmiczny sklep internetowy</title>
    <link rel="stylesheet" type="text/css" href="/css/categories.css">
</head>

<body>
<nav>
    <ul>
        <li></li>
        <li><a th:href="@{/}">OrionStore</a></li>
        <li><a href="">Ustawienia</a></li>
    </ul>
</nav>

<h1>Witaj użytkowniku, wybierz odopowiednią dla siebie kategorię.</h1>
<p>Nasz sklep specalizuje się w wielu kategoriach.</p>
<div th:each="category : ${categories}">
<a th:href="@{/category/{id} (id=${category.getCategoryId()})}">
    <button th:text="${category.getCategoryName()}"></button>
</a>
</div>
</body>

</html>