<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Orion Store - kosmiczny sklep internetowy</title>
    <link rel="stylesheet" type="text/css" href="/css/homestyle.css">
</head>

<body>
<nav>
    <a th:href="@{/}"><img src="css/logo.png" class="logo" alt="OrionStore"></a>
    <ul>
        <li></li>
        <li><a href="">O nas</a></li>
        <li><a href="">Regulamin</a></li>
        <li><a href="">Promocje</a></li>
        <li><a href="">Kategorie</a></li>
        <li><a href="">Koszyk</a></li>
        <li><div class="login"><a th:href="@{/login}">Logowanie</a></div></li>
    </ul>
</nav>

<div class="content">
    <div class="item" th:each="item : ${items}">
        <p class="specific-item" th:text="${item.getCategory().getCategoryName()}"></p>
        <img th:src="${item.getImagePath()}" alt="Zdjęcie produktu">
        <p th:text="${item.getItemName()}"></p>
        <p th:text="${item.getPrice()} + zł"></p>
        <a th:href="@{/card/{id} (id=${item.getId})}">
        <button>KUP TERAZ</button>
        </a>
    </div>
</div>


</body>

</html>