<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Orion Store - kosmiczny sklep internetowy</title>
    <link rel="stylesheet" type="text/css" href="/css/homestyle.css">
</head>

<body>
    <nav>
        <img src="css/logo.png" class="logo" alt="OrionStore">
        <ul>
            <li></li>
            <li><a href="">Strona główna</a></li>
            <li><a href="">O nas</a></li>
            <li><a href="">Regulamin</a></li>
            <li><a href="">Promocje</a></li>
            <li><a href="">Kontakt</a></li>
            <li><a href="">Ustawienia</a></li>
        </ul>
    </nav>
</body>

</html>