<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Orion Store - kosmiczny sklep internetowy</title>
  <link rel="stylesheet" type="text/css" href="/css/itemadd.css">
</head>

<body>
  <nav>
    <a href="localhost:8080/"><img src="css/logo.png" class="logo" alt="OrionStore"></a>
    <ul>
      <li></li>
      <li><a th:href="@{/}">OrionStore</a></li>
      <li><a href="">Ustawienia</a></li>
    </ul>
  </nav>

  <form>
    <table>
      <tr>
        <td>Nazwa:</td>
        <td><input type="text" id="name" name="name" maxlength="100"></td><br>
      </tr>
      <tr>
        <td>Link do obrazu:</td>
        <td><input type="text" id="image" name="image" maxlength="100"></td><br>
      </tr>
      <tr>
        <td>Cena:</td>
        <td><input type="number" id="number" name="number" min="1" max="50000" placeholder="1000"></td><br>
      </tr>
      <tr>
        <td>Ilość sztuk:</td>
        <td><input type="number" id="quantity" name="quantity" min="1" max="50000" placeholder="1000"></td><br>
      </tr>
      <tr>
        <td>Kategoria:</td>
        <td><input list="browsers">
          <datalist id="browsers">
            <option value="Procesor">
            <option value="Karta graficzna">
            <option value="Zasilacz">
            <option value="Pamiec RAM">
            <option value="Obudowa">
            <option value="Dysk">
            <option value="Chlodzenie">
          </datalist>
        </td><br>
      </tr>
      <tr>
        <td>Opis:</td>
        <td><textarea name="paragraph_text" id="description" cols="25" rows="10" maxlength="300"></textarea></td><br>
      </tr>
      <tr>
        <td><button>Dodaj</button></td>
      </tr>
    </table>

  </form>



</body>

</html>