<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="../../../../../../Desktop/OrionStore/img/favicon/favicon.ico">
    <title>Orion Store - kosmiczny sklep internetowy</title>
</head>

<body>
<section>
    <div class="container">
        <form th:action="@{/login}" method="post" class="form">
        <h2>Zaloguj się</h2>
        <input type="email" id="username" name="username" class="box" placeholder="Wpisz email">
        <input type="password" id="password" name="password" class="box" placeholder="Wpisz hasło">
        <input type="submit" value="Logowanie" id="submit">
            <a href="/register">Nie masz konta? Zarejestruj się!</a>
            <a href="">Zapomniałeś hasla?</a>
        </form>
        <div class="side">
            <img src="css/orionimg.png">
        </div>
    </div>
</section>
</body>

</html>