<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="../../../../../../Desktop/OrionStore/img/favicon/favicon.ico">
    <title>Orion Store - kosmiczny sklep internetowy</title>
</head>

<body>
    <section>
        <div class="container">
            <form class="form" method="POST" th:action="@{/login}">
                <h2>Zaloguj się</h2>
                <span th:text="${message}"></span>
                <input type="email" name="email" class="box" placeholder="Wpisz email">
                <input type="password" name="password" class="box" placeholder="Wpisz hasło">
                <span class="has-error" th:text="${error}"></span>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                <input type="submit" value="Logowanie" id="submit">
                <a href="">Nie masz konta? Zarejestruj się!</a>
                <a href="">Zapomniałeś hasla?</a>
                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}" />
            </form>
            <div class="side">
                <img src="css/orionimg.png">
            </div>
        </div>
    </section>
</body>

</html>