<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orion Store - kosmiczny sklep internetowy</title>
    <link rel="stylesheet" type="text/css" href="/css/cart.css">
</head>

<body>

<nav>
    <a th:href="@{/}"><img src="/css/logo.png" class="logo" alt="OrionStore"></a>
    <ul>
        <li id="admin" sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin}">ADMIN PANEL</a>
        </li>
        <li><a href="">Regulamin</a></li>
        <li><a href="">Promocje</a></li>
        <li><a th:href="@{/categories}">Kategorie</a></li>
        <li><a th:href="@{/shoppingcart}" th:text="|Koszyk:(| + ${count} + |) | + ${priceofallitems} + zł"></a></li>
        <li>
            <div th:if="${email} eq 'anonymousUser'" class="login"><a th:href="@{/login}">Logowanie</a></div>
            <div th:if="${email} ne 'anonymousUser'" class="login"><a th:href="@{/logout}">Wyloguj</a></div>
        </li>
    </ul>
</nav>


<div class="container">
<table id="example">
    <thead>
    <tr>
        <th colspan="3">Twoje wszystkie zamówienia.</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.getId()}"></td>
        <td th:text="${#strings.substring(order.getCreatedDate(),0,10)}"></td>
        <td>
            <a th:href="@{/myorders/order/{id} (id=${order.getId()})}">
                <button>Sprawdź zamówienie</button>
            </a>
        </td>
        </tr>

    </tbody>
</table>
</div>

</body>

</html>