<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Orion Store - kosmiczny sklep internetowy</title>
    <link rel="stylesheet" type="text/css" href="/css/cardstyle.css">
</head>

<body>
<nav>
    <a th:href="@{/}"><img src="/css/logo.png" class="logo" alt="OrionStore"></a>
    <ul>
        <li id="admin" sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin}">ADMIN PANEL</a>
        </li>
        <li><a th:href="@{/myorders}">Moje zamówienia</a></li>
        <li><a href="">Regulamin</a></li>
        <li><a href="">Promocje</a></li>
        <li><a th:href="@{/categories}">Kategorie</a></li>
        <li><a th:href="@{/shoppingcart}" th:text="|Koszyk:(| + ${count} + |) | + ${priceofallitems} + zł"></a></li>
        <li>
            <div th:if="${email} eq 'anonymousUser'" class="login"><a th:href="@{/login}">Logowanie</a></div>
            <div th:if="${email} ne 'anonymousUser'" class="login"><a th:href="@{/logout}">Wyloguj</a></div>
        </li>
    </ul>
</nav>

<div class="product" th:each="product : ${item}">
    <div class="item">
        <img th:src="${item.getImagePath()}" alt="">
    </div>
    <div class="informations">
        <p th:text="${item.getCategory().getCategoryName()}"></p>
        <p th:text="${item.getItemName()}"></p>
        <p th:text="${item.getPrice()} + zł"></p>
        <a th:href="@{/productcard/additem/{id} (id=${item.getId()})}">
        <button>Dodaj do koszyka</button>
        </a>
    </div>
</div>
<p id="numberofitems" th:text="${item.getQuantity()} + | sztuk - tyle posiadamy na stanie |"></p>

<div class="description" th:each="product : ${item}">
    <h2 th:text="${item.getDescription()}"></h2>
</div>
</body>

</html>