<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/registerstyle.css">
    <link rel="icon" type="image/x-icon" href="../../../../../../Desktop/OrionStore/img/favicon/favicon.ico">
    <title>Orion Store - kosmiczny sklep internetowy</title>
</head>

<body>
<section>
    <div class="container">
            <form th:action="@{/register}" method="post" th:object="${user}" class="form">
                <h2>Zarejestruj się</h2>

                <input type="firstname" class="box" name="firstName" placeholder="Wpisz imię" th:field="*{firstName}">
                <input type="lastname" class="box" name="lastName" placeholder="Wpisz nazwisko" th:field="*{lastName}">
                <input type="email" class="box" name="email" placeholder="Wpisz email" th:field="*{email}">
                <input type="password" name="password" class="box" placeholder="Wpisz hasło" th:field="*{password}">
                <input type="submit" value="Rejestracja" id="submit">

                <div th:if="${param.success}">
                    <p><a th:href="@{/login}">Konto utworzone. Wysłano link aktywacyjny.</a></p>
                </div>

                <div th:if="${param.fail}">
                    <p>Wystąpił błąd, sprawdź pola. Konto może już istnieć.</p>
                </div>


            </form>
        <div class="side">
            <a th:href="@{/}">
            <img src="css/orionimg.png">
            </a>
        </div>
        </div>
</section>
</body>
</html>