<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orion Store - kosmiczny sklep internetowy</title>
    <link rel="stylesheet" type="text/css" href="/css/cart.css">
</head>

<body>

<nav>
    <a th:href="@{/}"><img src="/css/logo.png" class="logo" alt="OrionStore"></a>
    <ul>
        <li id="admin" sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin}">ADMIN PANEL</a>
        </li>
        <li><a href="">O nas</a></li>
        <li><a href="">Regulamin</a></li>
        <li><a href="">Promocje</a></li>
        <li><a th:href="@{/categories}">Kategorie</a></li>
        <li>
            <div th:each="usermail : ${email}">
                <div th:if="${usermail} eq 'anonymousUser'" class="login"><a th:href="@{/login}">Logowanie</a></div>
                <div th:if="${usermail} ne 'anonymousUser'" class="login"><a th:href="@{/logout}">Wyloguj</a></div>
            </div>
        </li>
    </ul>
</nav>

<div class="toomany" th:if="${param.toomany}">
    <p>Ilość produktów które próbujesz zamówić przekracza ilość wybranych produktów. Zmień ilość i spróbuj ponownie</p>
</div>

<div class="toomany" th:if="${param.fail}">
    <p>Błędnie wypełniony formularz, sprawdź długość pól oraz czy nie są puste.</p>
</div>

<div class="container">
<div class="order">
    <form th:action="@{/shoppingcart}" method="post" th:object="${restuserinfo}" class="form">
        <div class="info">
        <p id="firstname" th:text="|Imię: | + ${userfields.getFirstName()}"></p>
        <p id="lastname" th:text="|Nazwisko: | + ${userfields.getLastName()}"></p>
        <p id="email" th:text="|Adres e-mail: | + ${userfields.getEmail()}"></p>
        </div>
        <p>Numer NIP:</p>
        <input type="text" id="vatnumber" th:field="*{vatNumber}" minlength="10" maxlength="10" autocomplete="off">
        <p>Nazwa podmiotu:</p>
        <input type="text" id="organisationame"  th:field="*{organisationName}" autocomplete="off">
        <p>Adres zamieszkania (wraz z numerem):</p>
        <input type="text" id="address"  th:field="*{address}" required autocomplete="off">
        <p>Kod pocztowy:</p>
        <input id="postalcode"  th:field="*{postalCode}" required autocomplete="off">
        <p>Miasto:</p>
        <input type="text" id="city"  th:field="*{city}" required  autocomplete="off">
        <p>Telefon kontaktowy:</p>
        <input type="text" id="phone"  th:field="*{phone}" minlength="9" maxlength="9" required autocomplete="off">
        <button>Zamów</button>
    </form>
</div>
<table id="example">
    <thead>
    <tr>
        <th colspan="4">Twój koszyk:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="iteminfo : ${cartitems}">
        <td th:text="${iteminfo.getItem().itemName}"></td>
        <td th:text="${iteminfo.getTotalItems()}"></td>
        <td><img th:src="${iteminfo.getItem().getImagePath()}"></td>
        <td th:text="${ T(java.lang.String).format('%.2f', iteminfo.getTotalPrices() * iteminfo.getTotalItems())} + zł"></td>
        <td>
            <a th:href="@{/cart/deleteposition/{id} (id=${iteminfo.getId()})}">
                <button>Usuń</button>
            </a>
        </td>
    </tr>
    <tr>
    <td th:text="|Suma zamówienia:| + ${totalroundedprices} + zł" colspan="4"></td>
    </tr>
    </tbody>
</table>
</div>

</body>

</html>